.sent_photo {
    margin: 0 auto;
    margin-top: 8vh;
    width: 80vw;
    height: 80vw;
}

.title {
    width: 40%;
    margin: 2vh auto;
}

.description {
    margin-top: 5vw;

    font-size: 3.5vw;
}

.button {
    width: 70%;
    margin: 7vh auto;
}