.header {
    height: 10vh;

    align-items: center;

    display: flex;
    flex-direction: row;
}

.profile_image {
    width: 10vw;
    height: 10vw;

    overflow: hidden;
    border-radius: 50%;

    border: 2px solid #FF7A00;

    margin-left: 4vw;
    margin-right: 4vw;
}

.title_area {
    flex: 1;

    align-items: start;

    display: flex;
    flex-direction: column;
}

.gallery_title {
    vertical-align: middle;

    font-size: 4vw;
    display: flex;
    align-items: center;
    color: #343434;
}

.edit_profile {
    margin-top: 1vh;
    color: #8A8A8A;
    
    font-size: 3vw;
    text-decoration: underline;
    display: flex;
    align-items: center;
}

.share_icon {
    width: 8vw;
    height: 8vw;

    flex: 0 0 auto;
}

.letter_box {
    width: 8vw;
    height: 8vw;

    margin-left: 3vw;
    margin-right: 6vw;

    flex: 0 0 auto;
}

.letter_count {
    position: absolute;
    width: 4vw;
    height: 4vw;
    margin-top: -10vw;
    margin-left: 7.5vw;

    display: grid;
    place-content: center;

    background-color: #31A1D2;
    overflow: hidden;
    border-radius: 50%;

    font-size: 2.5vw;
    color: #FFFFFF;
}

.gallery {
    height: 60vh;
    margin-top: 1vh;

    display: flex;
    flex-direction: row;

    overflow: scroll;
}

.footer {
    margin-top: 3vh;
}

.write_post_button {
    margin-top: 5vw;
    width: 90vw;
    height: 10.5vw;
}

.encourage_write_letter {
    margin-top: 2vh;
    font-size: 3vw;
    color: #0D1D54;
}

.create_gallery {
    margin-top: 3vh;
    margin-bottom: 3vh;

    font-size: 3.5vw;
    text-decoration: underline;
    color: #FF7A00;
}

.frame_set {
    display: flex;
    flex-direction: row;
}

.image {
    width: 76%;
    height: 76%;
    object-fit: cover;
}

.frame1 {
    width: 30vh;
    height: 30vh;
    margin-left: 2vh;
}

.frame2 {
    width: 13vh;
    height: 15vh;

    margin-top: 1vh;
    margin-left: 18.5vh;
}

.frame3 {
    width: 15vh;
    height: 13vh;

    margin-top: -4vh;
    margin-left: 2vh;
}

.frame4 {
    width: 11vh;
    height: 11vh;

    margin-top: -8vh;
    margin-left: 24vh;
}

.frame5 {
    width: 20vh;
    height: 17vh;

    margin-left: 1vh;
}

.frame6 {
    width: 13vh;
    height: 11vh;

    margin-top: 2vh;
    margin-left: -1vh;
}

.frame7 {
    width: 9vh;
    height: 11vh;

    margin-top: -10vh;
    margin-left: 13vh;
}

.frame8 {
    width: 13vh;
    height: 12vh;

    margin-left: -1vh;
    margin-top: 0vh;
}

.frame9 {
    width: 7vh;
    height: 7vh;

    margin-top: 1vh;
    margin-left: 1vh;
}

.frame10 {
    width: 7vh;
    height: 7vh;

    margin-top: 1vh;
    margin-left: 1vh;
}

.frame11 {
    width: 16vh;
    height: 15vh;

    margin-top: -15vh;
    margin-left: 10vh;
}

.frame12 {
    width: 16vh;
    height: 18vh;
    
    margin-top: 2vh;
    margin-left: -3vh;
}

.frame13 {
    width: 12vh;
    height: 12vh;

    margin-top: 2vh;
}

.frame14 {
    width: 10vh;
    height: 10vh;

    margin-top: 2vh;
    margin-left: 2vh;
}

.frame15 {
    width: 10vh;
    height: 9.5vh;

    margin-top: 2vh;
    margin-left: 2vh;
}

.frame16 {
    width: 14vh;
    height: 14vh;

    margin-left: 2vh;
}

.frame17 {
    width: 12vh;
    height: 12vh;

    margin-top: 2vh;
    margin-left: 6vh;
}

.frame18 {
    width: 8vh;
    height: 9vh;

    margin-top: -16vh;
    margin-left: 20vh;
}

.frame19 {
    width: 8vh;
    height: 9vh;

    margin-top: 2vh;
    margin-left: 20vh;
}

.frame20 {
    width: 25vh;
    height: 25vh;

    margin-top: 2vh;
    margin-left: 1vh;
}
