{{>layout/header}}

<h1>방명록 작성하기 - 이미지 업로드</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <div>
            <button type="button" class="btn btn-primary" id="btn-image-upload">이미지 업로드</button>

        </div>
    </div>
</div>

{{>layout/footer}}