{{>layout/header}}

<h1>수신함</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <div>
           <a href="/posts/image" class="btn btn-secondary active" role="button">포토 올리기</a><br>
        </div>

        <div>
            수신함 가져오기 <br>
            <!-- 목록 출력 영역 -->
            <table class="table table-horizontal table-bordered">
                <thead class="thead-strong">
                <tr>
                    <th>postId</th>
                    <th>senderName</th>
                    <th>title</th>
                    <th>createdDate</th>
                    <th>read</th>
                </tr>
                </thead>
                <tbody id="tbody">
                {{#posts}}  <!-- posts 라는 List 를 순회합니다 -->
                <tr>
                    <a href="/posts/"+{{postId}}>{{postId}}</a><br>
                    <td>{{senderName}}</td>
                    <td>{{title}}</td>
                    <td>{{createdDate}}</td>
                    <td>{{read}}</td>
                </tr>
                {{/posts}}
                </tbody>
            </table>
        </div>

    </div>
</div>

{{>layout/footer}}