{{>layout/header}}

<h1>코멘트 입력</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="nickname">닉네임</label>
                <input type="text" class="form-control" id="nickname" placeholder="닉네임을 입력하세요">
                <label for="nickname">제목</label>
                <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
                <label for="nickname">코멘트</label>
                <input type="text" class="form-control" id="comment" placeholder="코멘트를 입력하세요">
            </div>
        </form>
        <button type="button" class="btn btn-primary" id="btn-posts-save">등록</button>
    </div>
</div>

{{>layout/footer}}