{{>layout/header}}

<h1>닉네임 입력</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <div>
            {{imageUrl}} <br>
            {{nickname}} <br>
            {{wallType}} <br>
            {{frameType}} <br>
            {{noti}} <br>
            {{emailNoti}} <br>
            <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            <a href="/deleteaccount" class="btn btn-info active" role="button">탈퇴</a>

            <button type="button" class="btn btn-primary" id="btn-profile-update">프로필 저장</button>

        </div>
    </div>
</div>

{{>layout/footer}}