{{>layout/header}}

<h1>닉네임 입력</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="nickname">닉네임</label>
                <input type="text" class="form-control" id="nickname" placeholder="닉네임을 입력하세요">
            </div>
        </form>
        <button type="button" class="btn btn-primary" id="btn-profile-update-signup">등록</button>
    </div>
</div>

{{>layout/footer}}