.sub_background {
    width: 100%;
    height: 60%;
    position: absolute;
    top: 11vh;

    z-index: 0;
}

.title {
    width: 80%;
    margin: 0 auto;
    margin-top: 14vh;

    z-index: 1;
}

.suggestion_list {
    height: 28vh;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.dotted_text {
    align-items: center;

    font-size: 3.5vw;
}

.gradient_shadow {
    width: 100%;
    height: 70%;

    position: absolute;
    bottom: 0;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #EFFDFF 50.23%, #EFFDFF 100%);

    z-index: 2;
}

.postbox {
    width: 12vw;
    height: 12vw;
    margin: 0 auto;
    margin-top: 8vh;

    z-index: 3;
}

.discription {
    margin-top: 3vh;

    font-size: 3.8vw;
    color: #0D1D54;
    z-index: 3;
}

.upload_photo {
    width: 70%;
    height: 2em;
    margin: 0 auto;
    margin-top: 4vh;
    z-index: 3;
}