body {
    text-align: center;
}

.title {
    margin-top: 20vh;

    font-weight: 400;
    font-size: 10vw;
}

.nickname_set_area {
    width: 70%;
    margin: 0 auto;
    margin-top: 8vh;
}

.discription {
    margin-top: 6vh;

    font-size: 3vw;

    color: #713600;
}

.notice_changable {
    margin-top: 1vh;

    font-size: 3vw;

    color: #8A8A8A;
}

.create_gallery {
    width: 70vw;
    height: 20vw;
    margin: 0 auto;
    margin-top: 4vh;
}